*{
    padding: 0;
    margin: 0;
}
.box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 390px;
    height: 480px;
    padding: 40px;
    box-sizing: border-box;
    border: 1px solid rgb(114, 112, 112);
    border-radius: 8px;
}
#logo{
    display: flex;
    justify-content: center;
}
img{
    display: flex;
    justify-content: center;
    
}
.inputbox{
    display: flex;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 5px;
}
.inputbox input{
    width: 350px;
    height: 40px;
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 2px solid rgb(34, 34, 34);
}
.inputbox label{
    position: absolute;
    left: 40px;
    padding: -40px 0;
    color: gray;
}
.forgot button{
    border: 0;
    outline: 0;
    color: rgb(41, 41, 226);
    float: right;
    background: transparent;
    cursor: pointer;
}
.signin input{
    background-color: red;
    top: 10px;
    left: 10px;
    margin-top: 10px;
    margin-bottom: 5px;
    border: none;
    border-radius: 3px;
    color: white;
    font-weight: 600;
    width: 310px;
    height: 40px;
    cursor: pointer;
}
.box p{
    text-align: center;
}
.login input{
    width: 310px;
    height: 40px;
    margin-top: 10px;
    background-color: white;
    font-weight: 600;
    color: black;
    border: 2px solid grey;
    border-radius: 3px;
    cursor: pointer;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


